/*----------------------------------------------------
                 Devster - CSS File
------------------------------------------------------*/


/* About
------------------------------------------------------*/
ul.about-list {margin:0px; padding:0px 0px 0px 16px; list-style-type:none; color:#bdbdbd;}
ul.about-list li {background-image:url(../images/small-arrow.png); background-position:0px 3px; background-repeat:no-repeat; padding:0px 0px 12px 17px; line-height:13px;}
ul.about-list li a {text-decoration:none;}
ul.about-list li a:hover {text-decoration:underline;}


/* Blog
------------------------------------------------------*/
ul.blog-list {margin:0px; padding:0px; list-style-type:none; color:#bdbdbd; weight:480px;}
ul.blog-list li {background-image:url(../images/small-arrow.png); background-position:0px 3px; background-repeat:no-repeat; padding:0px 0px 12px 17px; line-height:13px;}
ul.blog-list li a {text-decoration:none;}
ul.blog-list li a:hover {text-decoration:underline;}
.blog-post {padding-bottom:18px;}
.blog-posted {background-image:url(../images/blog-post-bg.jpg); background-repeat:no-repeat; height:27px; margin-top:30px; padding-top:8px; font-size:11px;}
.posted-left {float:left;}
.posted-right {float:right;}
.comment {float:left; margin-top:2px; margin-right:7px;}
#newsletter fieldset {margin:0px; padding:0px; border:0px;}


/* Content 
------------------------------------------------------*/
#content {padding-bottom:40px; float:left;}
#content-inner {float:left; width:630px; margin-top:0px;}
#content-right {float:left; width:300px; margin:20px 0px 0px 30px;}
#content h4 {margin-bottom:4px;}
ul.list {list-style-type:none; margin:0px 150px 0px 0px; float:left; }
ul.list li {background-image:url(../images/green-arrow.png); background-position:0px 2px; background-repeat:no-repeat; padding:0px 0px 12px 22px; line-height:13px;}
#main_text {padding:20px 0px 0px 0px;}
#head-top {width:960px; height:25px; border-bottom:1px solid #71736b; padding-bottom:8px; margin:12px 0px 12px 0px; float:left;}
#head-top-inner {width:630px; height:25px; margin:13px 0px 10px 0px; padding-bottom:7px; float:left; border-bottom:1px solid #71736b;}


/* Sidebar
------------------------------------------------------*/
.side-box {padding-bottom:10px;}
.side-box h3 {border-bottom:1px solid #71736b; padding-bottom:3px;}
.but {vertical-align:middle; padding-left:5px;}
.inputbox01 {width:218px; border:1px solid #cfd4c3; vertical-align:top; padding:2px 4px 3px 3px; color:#999; }


/* Portfolio 
------------------------------------------------------*/
#quote {background-image:url(../images/portfolio-shadow.jpg); background-repeat:no-repeat; background-position:top; width:960px; float:left;}
.quote-button {padding-top:40px;}
#portfolio-list li {list-style:none;}
#portfolio-list li img {border:solid 1px #cfd4c3; padding:6px; margin:0px; background-color:#f9fbf4; }
#portfolio-list li.last {margin-right: 0;}
.portfolio-item-thumb {width:900px; float:left; margin:0px 29px 20px 0px; color:#676767; line-height:18px; position: relative; height: 1170px;}
.portfolio-item-thumb-last {margin-right:0px;}

.jcarousel-skin-portfolio .jcarousel-container-vertical {width: 900px; height: 1170px; margin:0px;}
.jcarousel-skin-portfolio .jcarousel-clip-vertical {width:  900px; height: 1170px;}
.jcarousel-skin-portfolio .jcarousel-item {width: 900px; height: 1170px; margin:0px;}

.jcarousel-skin-portfolio .jcarousel-next-vertical {position: absolute; right: 0px; top: -40px; width: 23px; height: 23px; cursor: pointer; background: url("../images/nav_carousel.gif") no-repeat 100% 0%;}
.jcarousel-skin-portfolio .jcarousel-next-vertical:hover {background-position: 100% 50%;}
.jcarousel-skin-portfolio .jcarousel-next-disabled-vertical,
.jcarousel-skin-portfolio .jcarousel-next-disabled-vertical:hover {background-position: 100% 100%;}

.jcarousel-skin-portfolio .jcarousel-prev-vertical {position: absolute; right: 30px; top: -40px; width: 23px; height: 23px; cursor: pointer; background: url("../images/nav_carousel.gif") no-repeat 0% 0%;}
.jcarousel-skin-portfolio .jcarousel-prev-vertical:hover {background-position: 0% 50%;}
.jcarousel-skin-portfolio .jcarousel-prev-disabled-vertical,
.jcarousel-skin-portfolio .jcarousel-prev-disabled-vertical:hover {background-position: 0% 100%;}


/* Clearing method
------------------------------------------------------*/
.clearfix:after	{content:".";  display:block;  clear:both;  visibility:hidden;  line-height:0;  height:0;}
.clearfix {display:inline-block;}
html[xmlns] .clearfix {display:block;}
* html .clearfix {height:1%;}
.clear {clear:both;}


/* Contact 
------------------------------------------------------*/
form {margin:0; padding:0;}
#contactFormArea {width:480px; color:#6b6b6b;}
.input {background-color: #ffffff; border:1px solid #cfd4c3; width:286px; padding:5px 5px 5px 5px; margin:0px; color:#6b6b6b;}
.input-submit { background-image:url(../images/but-send.png); background-repeat:no-repeat; padding:0px; margin:0px; border:0px; width:93px; height:28px; cursor:pointer; float:right; margin-right:97px;}
.textarea {background-color: #ffffff; border:1px solid #cfd4c3; width:286px; padding:5px 5px 5px 5px; margin:0px; color:#6b6b6b;}

