/* CSS Document by Leo*/
* { margin:0; padding:0;}

body#body{ 
	background:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#3a3838;
	
}

ul, ul li { list-style:none; list-style-image:none; list-style-type:none;}

table{border-collapse:collapse; border:0px;}
td { vertical-align:top; padding:0px;}

tbody { border:none;}

a{ color:#ec1b01; outline:none}
a:hover{text-decoration:none; }
img, a img { border:0;}

.clear { clear:both;}

fieldset { border:1px solid #bfc2c8; overflow:hidden; position:relative;}
fieldset legend { color:#ec1b01;}
html.js fieldset.collapsed legend { display:inline;}
/*html.js fieldset.collapsible legend a { background:url(images/a5.gif) no-repeat 5px 7px;}
html.js fieldset.collapsed legend a { background:url(images/a4.gif) no-repeat 5px 6px;}*/

fieldset a { color:#dd621e;}
fieldset .tips { font-size:10px;}

.min-width {width:expression(((document.documentElement.clientWidth || document.body.clientWidth) < 980)? "980px" : "100%"); min-width:980px;}
#main { margin:0 auto; width:980px;}

table.system-status-report th, thead th { border-bottom:1px solid #bfc2c8; color:#000000; font-size:13px; }
thead th, th, tr.even, tr.odd { padding:0px; border-bottom:1px solid #bfc2c8;}

/*------HEADER------*/
#header { padding:0px;}

.head-row1 { height:68px; width:100%; overflow:hidden;}

.head-row2 { height:407px; width:100%; background:url(images/bg.jpg) no-repeat 0 0}

.head-row3 { height:51px; width:100%; background:#dedede;}


.logo { margin:152px 20px 0px 651px; float:left;}
h1.site-name { font-size:35px; padding:70px 10px 0px 30px; font-family:"Trebuchet MS"; text-transform:capitalize; font-weight:bold;}
h1.site-name a { color:#3b3b3b; text-decoration:none; font-weight:normal; line-height:30px;}
.slogan { padding:4px 0px 0px 12px; color:#000; font-size:12px; text-transform:none; float:left;}
.slogan-img { margin:80px 0px 0px 89px;}

.pr-menu {overflow:hidden;}
ul.primary-links {margin:0px; padding:0px; list-style:none; text-align:center;}
ul.primary-links li { float:left; padding:0px 1px 0px 0px; background:url(images/bg-li.gif) repeat-y right}
ul.primary-links li a { color:#2d2d2d; text-decoration:none; text-transform:none; font-size:12.6px; display:block; padding:18px 0px 18px 0px; font-weight:bold; width:139px;}
ul.primary-links li a:hover, ul.primary-links li a.active { background:#555656; color:#FFF}
ul.primary-links li.last { padding-right:0; background:none;}


/*----Breadcrumb-----*/
.breadcrumb { padding:20px 55px 2px 20px; color:#343958; font-size:12px; font-weight:normal; text-align:left;}
.breadcrumb a { color:#FFF; text-decoration:underline; padding:0px 2px 0px 2px; text-transform:none; vertical-align:middle; font-weight:normal;}
.breadcrumb a:hover { text-decoration:none;}

/* footer */
#footer { color:#323232; font-size:14px; text-align:center; width:100%; overflow:hidden; background:#f6f6f6; border-top:1px solid #e0e0e0;}
.foot { text-align:left; margin:0 auto; width:980px; padding:50px 0px 30px 0px;}
#footer a { color:#d40005; text-decoration:underline;}
#footer a:hover{ text-decoration:none;}
#footer .foot span { padding-left:27px;}
/* footer end */


/*------CORNERS------*/
div.block { margin-bottom:8px; color:#363638; position:relative; overflow:hidden; width:100%;}
.block .content { padding:23px 10px 35px 3px; overflow:hidden;}
.clear-block { padding:0px 20px 0px 18px;}
.admin .clear-block { padding:0px;}

.slider-indent{ padding:9px 0px 0px 343px;}


.readmore { display:block; width:85px; height:26px;}

h4 {color:#4c4c4c; font-size:22px; font-weight:normal; padding-bottom:10px; padding-top:10px;}

.blocks { overflow:hidden; width:100%; padding-top:30px;}
.blocks div { width:209px; float:left; overflow:hidden;}
.blocks div h4 {adding:12px 0px 30px 45px;}
.blocks div .inner{ padding:18px 0px 35px 15px;}
.blocks div a { color:#1579d9;}
.list, .list2 { margin-right:3px;}
.blocks div ul { margin-left:6px; margin-bottom:30px;}

.blocks2 { overflow:hidden; width:100%;}
.blocks2 .inner { padding:0px 0px 15px 0px;}
.blocks2 div.list, .blocks2 div.list2 { float:left; width:200px;}
.blocks2 div.list3 { width:170px; float:left;}
.blocks2 div ul { margin-left:6px;}

.events { width:100%; overflow:hidden; padding-bottom:20px;}
.events .list { float:left; width:288px;}

.list-col { float:left; margin-right:40px;}
.list-col li { padding-left:11px !important; line-height:24px !important; background:url(images/a3.gif) no-repeat 0 10px !important; font-size:12px !important; color:#7a7a7a !important;}
.list-col li a { color:#a20d00 !important; font-size:12px !important; text-decoration:none !important;}
.list-col li a:hover { text-decoration:underline !important; color:#413939 !important;}
a.cont-more { font-size:14px !important; font-weight:bold !important;}

.aboutus .columns { width:100%; overflow:hidden;}
.aboutus .column-left { width:45%; float:left;}
.aboutus .column-right { width:45%; float:right;}
.aboutus span { font-weight:bold; font-size:12px !important; color:#ec1b01}

.solutions .list-left { float:left; margin-right:20px;}

.links-content .columns { width:100%; overflow:hidden; padding-bottom:20px;}
.links-content .column-left { width:45%; float:left;}
.links-content .column-right { width:45%; float:right;}

.services .columns { width:100%; overflow:hidden; padding-bottom:20px;}
.services .column-left { width:40%; float:left;}
.services .column-right { width:55%; float:right;}

.faq span { font-weight:bold; font-size:14px !important;}


.links-indent { padding:0px 0px 0px 0px; overflow:hidden;}
.links-indent ul.links li { float:left; padding:0 35px 0px 0!important;}
.links-indent ul.links li a { display:block; text-decoration:underline !important; color:#d40005 !important; font-size:12px; font-weight:bold;}
.links-indent ul.links li a:hover { text-decoration:none !important;}
/*-----------------*/

#cont { overflow:hidden; width:100%;}
.cont-inner { padding:8px 23px 10px 23px; overflow:hidden;}

#left-col { width:253px; float:left;}
#left-col .ind { padding:0px 45px 0px 0px;}

.width { width:100%; overflow:hidden;}

#cont-col { overflow:hidden; height:1%; padding:12px 5px 20px 0px;}
#cont-col .ind { width:100%;}

#right-col { width:253px; float:right;}
#right-col .ind { padding:0px 0px 0px 45px;}

/**************---TITLES---**************/
h1 { color:#444b4e; font-size:18px; font-weight:normal;}
h1.title { background:none; font-size:17px;}
h1.title a {color:#2c2c2c; text-decoration:none; font-size:23px; line-height:normal; font-weight:normal; line-height:24px; text-transform:uppercase;}
h1.title a:hover {text-decoration:underline; color:#c71e00;}
#tabs-wrapper h2 { background:none; color:#4c4c4c !important; padding-bottom:10px; font-size:18px; font-weight:normal;}
h2 { font-size:22px; color:#4c4c4c; padding:10px 0px 7px 0px; text-transform:capitalize; width:100%; font-weight:normal;}
h2.with-tabs { padding-left:0px; padding-top:10px;}
.block h2 { display:block; border-bottom:#bcbcbc 1px solid; color:#444b4e; font-size:12px; line-height:22px; margin:0; margin-top:5px; margin-bottom:10px; padding:0;}

h3 { color:#424242; padding:5px 0px;}
h3 a {color:#424242; text-decoration:none;}

.block .title { padding:0; width:100%;}
.title h3 { color:#2c2c2c; font-size:24px; padding:12px 0px 2px 1px; text-transform:uppercase; border-bottom:1px solid #e3e3e3}

.admin-panel h3 { color:#000000; font-size:13px;}

.submit { padding:0px 0px 8px 1px; overflow:hidden; border-bottom:1px solid #e3e3e3}
.submitted, .submit .submitted{ color:#323232; font-size:11px; line-height:normal; font-weight:normal;}
.submitted a { color:#323232;}

/***************/

.comment { padding:10px 0px 10px 20px;}
.comment h3 { background:none;}
.comment h3 a{ color:#2a2a2a; font-size:15px;}
.comment .title { padding-left:0px; padding-bottom:10px;}
.comment .submitted { margin-left:0px; padding-bottom:10px; color:#575859;}
.comment .submitted a{ color:#575859;}

.content { padding:0px 10px 0px 0px; color:#323232; line-height:15px; font-size:12px;}
.node .content a { color:#ec1b01;}
.node .content strong a { color:#2f2e2e; font-size:11px;}
.content a:hover{ text-decoration:none;}

.node { width:100%; overflow:hidden; padding-bottom:47px;}
.node .content, #contact-mail-page { padding:29px 0px 24px 1px; overflow:hidden;}
.node div.links { padding-top:5px; padding-bottom:2px; text-align:left;}
.node .title {padding:0px 0px 1px 0px;}

/*---------------------*/

/*----NAVIGATION----*/
#block-user-1 .content { padding-left:0px; padding-right:0px;}
#block-user-1 .content ul.menu { padding-left:0px; padding-bottom:0px; width:100%;}
#block-user-1 .content ul.menu li ul.menu { padding-left:10px;}
#block-user-1 .content ul.menu li { padding:0px 0px 1px 0px; list-style-image:none; list-style:none; margin:0; line-height:normal;line-height:24px; overflow:hidden;}
#block-user-1 .content ul.menu li a { background:url(images/a1.gif) no-repeat 0 10px; color:#d40005; font-size:12px; text-decoration:underline; font-weight:normal; display:block; padding-left:10px; overflow:hidden;}
#block-user-1 .content ul.menu li a:hover{ text-decoration:none; color:#000;}
#block-user-1 .content ul.menu li.expanded { padding-bottom:0px;}
#block-user-1 .content ul.menu li.expanded ul { padding-top:1px;}
#block-user-1 .content ul.menu li.last { border-bottom:none;}

/*------Custom Login-Form------*/
.userlogin { font-size:15px; color:#313030; padding:0px 0px 0px 28px; margin-left:18px; margin-top:20px; font-weight:bold;}
#user-bar { font-size:11px; font-weight:bold; padding:32px 0px 0px 0px;}
#user-bar .user-info { padding-bottom:5px; color:#ea4c33; padding-top:10px;}
#user-bar p a { color:#FFF;}
#user-bar .item-list li { list-style:none; list-style-image:none; line-height:10px;}
#user-bar .item-list li a{ font-weight:normal; font-size:10px; color:#ff2d00;}
#user-bar .item-list li a:hover {color:#FFF;}

/*----Login-form----*/
#user-login-form { text-align:left; color:#FFF; font-size:12px;}
#user-login-form input#edit-name, #user-login-form input#edit-name-1,
#user-login-form input#edit-pass, #user-login-form input#edit-pass-1 { width:192px; font-size:12px; height:23px; color:#323232; background:url(images/bg-login-input.gif) no-repeat 0 0; border:0px solid #a09b96; padding:2px 0px 0px 5px;}
#user-login-form label { color:#323232; font-size:12px; font-weight:bold; padding:3px 7px 3px 0px; line-height:normal;}
#user-login-form .form-required { color:#938d8c; display:none;}
#user-login-form .description a { color:#47a4bb;}
#user-login-form .item-list ul { padding:8px 0px 0px 0px;}
#user-login-form .item-list li{ line-height:18px; list-style:none; list-style-image:none; margin:0px; padding:0; float:left; padding-right:20px;}
#user-login-form .item-list li a{ font-weight:normal; color:#d40005; text-decoration:underline; font-size:12px; text-transform:capitalize; background:url(images/a1.gif) no-repeat 0 5px; padding-left:10px;}
#user-login-form .item-list li a:hover{text-decoration:none; color:#000}

#user-login-form .form-submit{ background:url(images/login.gif) no-repeat 0 0; border:none; width:64px; height:29px; margin:9px 0px 8px 0px; color:#d40005; font-size:12px; padding:0px 0px 3px 0px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-transform:uppercase;}

#user-login-form .form-item { margin-top:0px; margin-bottom:13px}

/*-------------------------*/


/*----POLL----*/
.poll .percent, .poll .text { color:#585c5c; font-size:13px;}
.poll .title { color:#585c5c; font-size:13px; font-weight:normal; padding-bottom:10px; background:none; padding-left:0px;}
.poll .total { font-weight:normal; color:#585c5c; font-size:12px; text-align:left;}
.poll .bar {background:#FFF; font-size:1px; height:7px; border:1px solid #cfcfcf; padding:1px;}
.poll .bar .foreground { background:#ec1b01; font-size:1px; height:7px;}

#block-poll-0 li{ background:none; padding:0;}
#block-poll-0 ul.links li { background:none; padding:0px; background:none;}
#block-poll-0 ul.links li a { color:#ec1b01; font-weight:bold; font-size:11px; text-decoration:underline; background:none; text-transform:none;}
#block-poll-0 ul.links li a:hover { text-decoration:none;}
#block-poll-0 .bar { background:#FFF; font-size:1px; height:5px; border:1px solid #cfcfcf; padding:1px;}
#block-poll-0 .bar .foreground { background:#ec1b01; font-size:1px; height:5px;}
#block-poll-0 .percent, #block-poll-0 .text { color:#000; font-size:11px; font-weight:normal; line-height:normal;}
#block-poll-0 .poll .title { color:#212121; font-size:11px; font-weight:bold; padding-top:0px; background:none; padding-left:0px;}
#block-poll-0 .total { font-weight:normal; color:#04283b; font-size:12px;}
.form-item label { color:#000;}
#block-poll-0 ul.links { padding-left:0px;}
#block-poll-0 ul.links .first{ padding:0px;}
#cont #block-poll-0 ul.links li{ background:none;}

/*----Who's Online----*/
#block-user-3 .content { font-size:12px; color:#2f2f2f; font-weight:normal;}
#block-user-3 .item-list h3 { color:#363636; font-size:12px; font-weight:normal; text-transform:none; padding-top:10px; padding-bottom:3px;}
#block-user-3 .item-list ul { margin:0; padding:0;}
#block-user-3 .item-list ul li{ list-style-image:none; list-style:none; margin:0; line-height:18px; }
#block-user-3 .item-list ul li a{ color:#2f2f2f; font-size:12px; font-weight:normal; text-decoration:none; background:url(images/a3.gif) no-repeat 0 6px; padding-left:15px;}
#block-user-3 .item-list ul li a:hover { text-decoration:underline;}
#block-user-3 em { color:#2f2f2f; text-decoration:underline; font-weight:bold; font-size:12px;}


/*-----Recent blog posts-------*/
#block-blog-0 .item-list ul { padding-left:0px; width:100%;}
#block-blog-0 .item-list ul li{ background:none; padding:3px 0px 3px 0px; list-style-image:none; list-style:none; margin:0; line-height:14px;}
#block-blog-0 .item-list ul li a{ background:url(images/a3.gif) no-repeat 0 8px; color:#323232; font-weight:normal; text-decoration:underline; padding-left:15px; font-size:12px; display:block; line-height:14px;}
#block-blog-0 .item-list ul li a:hover { text-decoration:none;}
#block-blog-0 .more-link { text-align:right;}
#block-blog-0 .more-link a{ color:#ec1b01; font-size:12px; font-weight:bold; text-decoration:none;}
#block-blog-0 .more-link a:hover{ text-decoration:underline;}


/*----SEARCH FORM----*/
.form-submit { background:url(images/bg-but.gif) top repeat-x; vertical-align:middle; color:#d40005; font-size:11px; font-weight:bold; border:1px solid #bcbcbc; padding:2px 3px 4px 3px}
.form-submit:hover { background:url(images/bg-but2.gif) top repeat-x;}


.search-box { padding:21px 21px 0px 0px; font-size:0; text-align:right;}
.search-box input { font-size:12px; vertical-align:middle}

#search-theme-form {padding:0px;}
#search-theme-form label { color:#7c8a90; font-size:15px; font-weight:normal; vertical-align:middle; margin-right:10px;}

#search-theme-form .form-submit { 
background:url(images/search.gif) no-repeat 0 0;
border:none;
width:64px;
height:25px;
vertical-align:middle;
color:#FFF;
font-weight:normal;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
padding:1px 0px 3px 0px;
line-height:15px;
text-transform:capitalize;
}
#search-theme-form .form-text { width:232px; font-size:12px; font-weight:normal; color:#737373; height:23px; background:url(images/bg-search-input.gif) no-repeat 0 0; border:0px solid #4c4c4c; margin-right:10px; padding:2px 0px 0px 5px;}


/*-----Recent comments-------*/
#block-comment-0 .item-list ul { padding-left:0px; width:100%;}
#block-comment-0 .item-list ul li{ background:url(images/a3.gif) no-repeat 0 7px; padding:0px 0px 10px 10px; list-style-image:none; list-style:none; line-height:16px; color:#212121; font-size:12px; margin-left:0px; margin-bottom:2px; text-transform:none; font-weight:normal;}
#block-comment-0 .item-list ul li a{ background:none; color:#323232; font-weight:bold; text-transform:none; text-decoration:none; font-size:13px;}
#block-comment-0 .item-list ul li a:hover{ text-decoration:underline; color:#ec1b01}


/*----Who's New----*/
#block-user-2 .item-list ul { padding-left:0px;}
#block-user-2 .item-list ul li{ background:url(images/a3.gif) no-repeat 0 12px; color:#323232; padding:0 0 0 12px; list-style-image:none; list-style:none; margin:0; line-height:25px;}
#block-user-2 .item-list ul li a{ background:none; color:#323232; padding:0px; font-size:12px; font-weight:normal; text-decoration:underline;}
#block-user-2 .item-list ul li a:hover { text-decoration:none;}

/*----Primary Links----*/
#block-menu-primary-links .content ul.menu { padding:0px;}
#block-menu-primary-links .content ul.menu li { background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-menu-primary-links .content ul.menu li a { background:url(images/a3.gif) no-repeat 0 6px; font-size:12px; padding-left:12px; color:#323232; font-weight:bold; text-decoration:none;}
#block-menu-primary-links .content ul.menu li a:hover{ text-decoration:underline; }

/*----SEARCH_BLOCK----*/
#block-search-0 .content { font-size:11px;}
#block-search-0 .content label { color:#323232; font-size:11px;}
#block-search-0 #edit-search-block-form-1 { width:152px; vertical-align:middle;}


/*----New forum topics----*/
#block-forum-1 .item-list ul { padding:0px; margin-bottom:10px;}
#block-forum-1 .item-list ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-forum-1 .item-list ul li a{ background:url(images/a3.gif) no-repeat 0 7px; padding-left:12px; color:#323232; font-weight:normal; text-decoration:none; font-size:12px;}
#block-forum-1 .item-list a:hover{ text-decoration:underline;}
#block-forum-1 .more-link a{ color:#ec1b01; font-size:12px; font-weight:bold; text-transform:capitalize; text-decoration:none; }
#block-forum-1 .more-link a:hover{ text-decoration:underline;}

/*----Active forum topics----*/
#block-forum-0 .item-list ul { padding-left:0px; margin-bottom:10px;}
#block-forum-0 .item-list ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-forum-0 .item-list ul li a{ background:url(images/a3.gif) no-repeat 0 7px; padding-left:12px; color:#323232; font-weight:normal; text-decoration:none; font-size:12px;}
#block-forum-0 .item-list a:hover{ text-decoration:underline;}
#block-forum-0 .more-link a{ color:#ec1b01; font-size:12px; font-weight:bold; text-transform:capitalize; text-decoration:none;}
#block-forum-0 .more-link a:hover{ text-decoration:underline;}

/*----Languages----*/
#block-locale-0 .content ul { padding-left:0px; margin-bottom:10px;}
#block-locale-0 .content ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-locale-0 .content ul li a{ background:url(images/a3.gif) no-repeat 0 7px; padding-left:12px; color:#323232; font-weight:normal; text-decoration:none; font-size:12px;}
#block-locale-0 .content a:hover{ text-decoration:underline;}

/*----Syndicate----*/
#block-node-0 { width:100%; overflow:hidden;}

/*----Secondary Links----*/
#block-menu-secondary-links ul { padding-left:0px; margin-bottom:10px; width:100%; overflow:hidden;}
#block-menu-secondary-links ul li{ background:none; padding:0 0 1px 0; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-menu-secondary-links ul li a{ background:url(images/a3.gif) no-repeat 0 10px; padding-left:13px; color:#323232; font-weight:normal; text-decoration:none; font-size:12px; display:block;}
#block-menu-secondary-links a:hover{ text-decoration:underline;}

/*----books----*/
#block-book-0 ul { padding-left:0px; margin-bottom:10px; width:100%; overflow:hidden;}
#block-book-0 ul li{ background:none; padding:0 0 1px 0; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#block-book-0 ul li a{ background:url(images/a3.gif) no-repeat 0 10px; padding-left:13px; color:#323232; font-weight:normal; text-decoration:none; font-size:12px; display:block;}
#block-book-0 a:hover{ text-decoration:underline;}


/*----Admin-Panel List & Admin-Panel List without descriptions----*/
.body ul.menu li, .body .item-list ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
.body ul.menu li a, .body .item-list ul li a { background:url(images/a3.gif) no-repeat 0 7px; padding-left:13px; color:#d40005; font-weight:normal;}
.body .item-list ul li a:hover{ text-decoration:none;}

/*-------------------------*/

/*------------------CUSTOM BLOCKS---------------------*/
/*------Styles for Custom Region------*/
#custom { overflow:hidden; width:100%; padding-top:34px;}
#custom .ind { padding:0px 0px 0px 20px;}
#custom .block { width:297px; float:left; margin-right:25px;}
#custom .block .content, #custom .block .title h3 { padding:0; border:0;}
#custom #block-block-16 { margin-right:0;}
/*---*/

/*-----LISTS-----*/
/*---nonNumeric Lists without links---*/
#cont-col .content ul li{ background:url(images/a3.gif) no-repeat 0 11px; padding-left:12px; list-style-image:none; list-style:none; line-height:25px; color:#4e4949;}
#cont-col .content ul li ul{ margin-left:15px;}
#cont-col .content ul li ol {margin-left:20px;}
#cont-col .content ul li ol li{ list-style-type:decimal;}

/*---Numeric Lists without links---*/
#cont-col .content Ol { padding-left:2px;}
#cont-col .content Ol li{ background:none; padding:0px; margin-left:20px; line-height:25px; color:#4e4949;}
#cont-col .content Ol li ul li {background:url(images/a3.gif) no-repeat 0 11px; padding-left:12px; color:#4e4949; font-weight:normal;}

/*---nonNumeric Lists---*/
#cont-col .content ul li{ list-style-image:none; list-style:none; line-height:25px; font-size:13px;}
#cont-col .content ul li a { color:#4e4949; font-weight:normal; text-decoration:underline; font-size:12px;}
#cont-col .content ul li a:hover{ text-decoration:none; }
#cont-col .content ul li ul{ margin-left:15px;}
#cont-col .content ul li ol {margin-left:20px;}
#cont-col .content ul li ol li{ list-style-type:decimal; color:#4e4949}
#cont-col .content ul li ol li a { background:none;}

/*---Numeric Lists---*/
#cont-col .content Ol { padding-left:2px; font-size:13px;}
#cont-col .content Ol li{ background:none; padding:5px 0px 5px 0px; margin-left:20px; line-height:25px;}
#cont-col .content Ol li a { padding-left:0px; color:#4e4949; font-weight:normal; text-decoration:underline; font-size:13px;}
#cont-col .content Ol li a:hover{ text-decoration:none; }
#cont-col .content Ol li ul li a { font-weight:normal; text-decoration:underline;}
#cont-col .content Ol li ul li a:hover {text-decoration:none;}


/*---Paragraph Style---*/
#cont-col .content p { padding-bottom:7px; padding-top:7px;}
#cont-col .content blockquote { border:1px solid #7f7f7f; background:#f1f1f1; padding:5px; margin:10px 0px 10px 0px;}

.item-list ul li { list-style-image:none; list-style:none;}


#profile-admin-overview ul li{ background:none; padding:0px; list-style-image:none; list-style:none; margin:0; line-height:20px;}
#profile-admin-overview ul li a { background:url(images/a1.gif) no-repeat 0 5px; padding-left:10px; color:#505050; font-weight:normal;}
#profile-admin-overview ul li a:hover{ text-decoration:none; color:#ce2a11;}

.password-description ul {margin-left:5px;}
.password-description ul li{ background:url(images/a1.gif) no-repeat 0 7px; padding-left:10px; list-style-image:none; list-style:none; margin:0; line-height:12px;}

#node-admin-content ul {margin-left:5px;}
#node-admin-content  ul li{ background:url(images/a1.gif) no-repeat 0 7px; padding-left:10px; list-style-image:none; list-style:none; margin:0; line-height:17px;}

/*ul.menu li { line-height:20px; font-size:11px; font-weight:normal; list-style:none; list-style-image:none;}
ul.menu li.leaf a{ color:#52a1d6;}
*/
/*.links { font-size:10px; color:#d7d7d7;}
.links li a{ color:#d7d7d7; font-weight:bold; text-decoration:none; font-size:12px; text-transform:none; padding-left:0px;}
.links li a:hover{ text-decoration:underline; color:#FFF;}*/

ul.links.inline { padding-right:0px;}


.cent ul.links li a { color:#104d0c; font-weight:normal; font-size:11px; text-transform:capitalize; background:none; text-decoration:none; padding:0px;}
.cent ul.links li a:hover { text-decoration:underline;}
#comments ul.links li a { color:#ec1b01;}


.taxonomy ul.links li a, #forum ul.links li a { color:#bd1900}

/*------END LIST------*/


ul.primary, ul.primary li, ul.secondary, ul.secondary li{
  border: 0;
  background:none;
  margin: 0;
  padding: 0;
}

ul.primary li a{
	border:none !important;
	background:url(images/tab-right.gif) no-repeat right 0 !important; /*tab-right*/
}
ul.primary li a:hover{
	background:none;
	border: 0;
}

ul.primary li.active a{
	background:none;
	border:none;
	color:#413939 !important;
	font-weight:bold;
}


ul.tabs li	{
	background:url(images/bg-tab.gif) top repeat-x !important; /*bg-tab*/
	display:block;
	margin-right:2px;
	float:left;
}

ul.tabs li span	{
	background:url(images/tab-left.gif) no-repeat 0 0; /*tab-left*/
	display:block;
}
ul.tabs	li span span {
	background:url(images/tab-right.gif) no-repeat right 0; /*tab-right*/
	text-align:center;
	display:block;
}

ul.tabs	li a {
	color:#f8452f !important;
	font-size:14px;
	font-weight:normal;
	background:none;
	padding:6px 20px 6px 20px;
	margin:0px;
	display:block;
}
ul.tabs	li a:hover {
	color:#413939 !important;
	margin:0px;
	border:none;
}

#tabs-wrapper {
  margin:0px 0px 5px 0px;
  padding:0;
  border-bottom:1px solid #e2dfdf;
}
ul.primary {
  padding:0px;
  margin:0px;}

/*----------------------------*/

/*----FROUM----*/
#forum	{
	padding:10px 0px 0px 1px;
}
#forum ul.links {
	padding:0px 0px 5px 0px;
}
#forum table {
	border:1px solid #cdcdcd;
	border-right:none;
}
#forum th	{
	padding:4px 0px 4px 3px;
	border-right:1px solid #cdcdcd;
}
#forum th a	{
	color:#4c4c4c;
}
#forum td	{
	padding-top:4px; 
	padding-bottom:4px;
}
#forum .description { color:#3c3c3c} /*Forum Container description*/

#forum .forum .description { color:#3c3c3c; font-size:11px;} /*Forum description*/

#forum td.container	{
	border-right:1px solid #cdcdcd;
	border-bottom:1px solid #cdcdcd;
}
#forum td.container	a{
	color:#ec1b01; 
	padding:0px 0px 0px 10px;
}

#forum td.forum,
#forum td.topics,
#forum td.posts,
#forum td.last-reply,
#forum td.icon,
#forum td.title,
#forum td.replies,
#forum td.created {
	border-right:1px solid #cdcdcd;
	border-bottom:1px solid #cdcdcd;
}
#forum .last-reply,
#forum .title,
#forum .created,
#forum .icon  {
	padding-left:5px
}
#forum .odd	{
	border-bottom:1px solid #cdcdcd;
	border-top:1px solid #cdcdcd;
	background:#f8f7f2
}
#forum div.indent	{
	margin-left:5px}

#forum .odd, #forum .even { border-bottom:1px solid #cdcdcd; }
#forum thead th { border-bottom:1px solid #cdcdcd; background:url(images/bg-forum.gif) top repeat-x; color:#4c4c4c;}
/*----------------------------*/

/*-----GENERAL-----*/

.node .taxonomy { padding-top:0px;}

div.error { margin-top:5px;}

.block-region { background:#d6e6cc; text-align:center; border:1px dashed #618749; color:#618749; margin-bottom:0px; clear:both;}


div.admin .left { margin:0px;}
#book-outline { min-width:0px;}
#permissions, #blocks, #forum table, .sticky-enabled  { width:100%;}
.node-unpublished { background:none;}
.odd td { vertical-align:middle; padding-left:px; line-height:18px; background:#f2f2f2; font-size:12px;}  /* odd_row BACKGROUND*/
.even td { vertical-align:middle; padding-left:px; line-height:18px; background:#e4e4e4; font-size:12px;} /* even_row BACKGROUND*/
.profile h3 { border-bottom:1px solid #cfcdcd; color:#f57b00}

img.alignleft{ float:left; margin-right:30px;}
img.alignright{ float:right; margin-left:10px; }


#first-time a { color:#508198; text-decoration:none}
#first-time a:hover{  text-decoration:underline;}
#first-time ol { margin-left:20px;}


.theme-info { padding-left:px;}


.admin-list a { color:#ec1b01;}
.tabs a { color:#395c14}
.node-type-list a { color:#ec1b01;} /* Create content */
.collapse-processed a { color:#ec1b01;}
.even a { color:#ec1b01;}
.blog a { color:#ec1b01;}
.odd a { color:#ec1b01; line-height:13px;}
.check-manually a{ color:#161616;}

.compact-link a { color:#000;}
.messages a { color:#f30000}


.sticky-table { line-height:24px;}
/*.sticky-table th { text-align:center;}*/

.more-help-link a { color:#7d7d7d;}

.help { font-size:11px; padding:3px 10px 0px 20px;}
.help a { color:#ec1b01;}

.help-items a{ color:#1ca0d1;}
.help-items ul { list-style:none; line-height:18px;}

.description a { color:#dc1b1d;}
/*---------------------*/

#blocks tr.region-message { color:#9298a3;}

.theme-info { padding-left:10px;}

.box { padding-left:0px;}
.box h2.title { padding-left:0px; background:none;}

.box div.links { background:none; padding:0px;}
.box .bg-links, .box .links-left, .box .links-right { background:none;}

#cont ul.links li { background:none;}
/*#cont ul.links li span { color:#575859;}*/

#system-modules div { padding-bottom:10px;}

#forum-confirm-delete a { color:#6d94ac;}

.form-checkboxes { width:100px;}

.search-form input { vertical-align:middle}

#forum ul.links { margin-bottom:10px;}

dl .title { background:none; padding:0px;}

ul.links li.comment_forbidden { padding:0px;}

#comments, #node-form { width:100%;}

#comment-form { padding-bottom:20px;}

.preview .node { background:none;}

#cont-col .content .comment_add a { color:#457299; text-transform:capitalize; font-weight:bold;}

html.js fieldset.collapsible .fieldset-wrapper { width:100%; overflow:hidden;}

.search-advanced .action { float:none;}

/*Status Report*/
.system-status-report td { padding-left:5px;}

table.system-status-report tr.info th{ color:#002200;}
table.system-status-report tr.error th{ color:#220000;}
table.system-status-report tr.ok th { color:#002200;}
table.system-status-report tr.warning th{ color:#222200;}

tr.merge-down { border-bottom:none;}
tr.ok td { background:#DDFFDD;}
tr.error td { background:#FFCCCC;}
tr.warning td { background:#FFFFDD;}
/*-------------*/

.admin-panel dd { padding-bottom:10px;}

div.admin-dependencies, div.admin-required { color:#FFFFFF;}

#block-admin-display-form div { overflow:hidden;}
table.sticky-header { background:#FFFFFF; overflow:hidden; position:relative;}
/*table.sticky-header th { text-align:center;}*/

.item-list .pager li { padding:0;}
#cont-col .content ul.pager li { background:#ebebeb; border:1px solid #d1cfc3; padding:1px 5px; margin:0px 1px; color:#7c7c7c;}
#cont-col .content ul.pager li.pager-current,
#cont-col .content ul.pager li:hover{ background:#f9f9f9; border:1px solid #d1cfc3;}
#cont-col .content ul.pager li a{ color:#1a2023; text-decoration:none;}
#cont-col .content ul.pager li a:hover { color:#000}


/*****************************-Slider-********************************/
.anythingSlider                         { width:626px; height:302px; padding-bottom:1px; position:relative;}
.anythingSlider .wrapper                { width:626px; overflow:auto; height:302px; margin:0px; position:absolute; top:0; left: 0; }
.anythingSlider .wrapper ul             { width:9999px; list-style:none; position:absolute; top:0; left:0; margin:0; }
.anythingSlider ul li                   { display:block; float: left; padding:0; height:302px; width:626px; margin:0; }
.anythingSlider .arrow                  { display:none; height:200px; width:67px; text-indent:-9999px; position:absolute; top:65px; cursor:pointer; }
.anythingSlider .forward                { background-position:0 0; right:-20px; }
.anythingSlider .back                   { background-position:-67px 0; left:-20px; }
.anythingSlider .forward:hover          { background-position:0 -200px; }
.anythingSlider .back:hover             { background-position:-67px -200px; }

#thumbNav                               { position:relative; top:323px; text-align:center; }
#thumbNav a                             { color:black; font:11px/18px; display:inline-block; padding:2px 8px; height:18px; margin:0 5px 0 0; background:none; text-align:center;}
#thumbNav a:hover                       { background-image:none; }
#thumbNav a.cur                         { background:#e0a213; }

#start-stop                             { background:url(images/cellshade.png) no-repeat 0 0; color:#FFF; width:76px; padding:4px 0px 8px 0px; text-align:center; position:absolute; left:17px; top:258px; z-index:1; text-decoration:none; font-size:13px; font-weight:normal;}
#start-stop.playing                     { }
#start-stop:hover                       { }

/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position:static; margin:0; background:none; overflow:visible; width:auto; border:0; }
.anythingSlider .wrapper ul ul li       { float:none; height:auto; width:auto; background:none; }


/* Customization Tabs
----------------------------------*/
#tabs { background:url(images/bg-tabs.gif) no-repeat 0 0;}

.ui-tabs { margin-bottom:12px; margin-top:16px; background:url(images/bg-tabs.gif) top repeat-x;}
.ui-tabs .ui-tabs-nav { list-style:none; position:relative; width:100%; overflow:hidden; height:66px;}
.ui-tabs .ui-tabs-nav li { position:relative; float:left; padding:1px 0px 25px 0px; width:135px; overflow:hidden; font-size:14px; text-align:center; background:url(images/tab.gif) no-repeat right 0px;}
.ui-tabs .ui-tabs-nav li.first { margin-right:4px;}
.ui-tabs .ui-tabs-nav li.last.ui-state-active { background:url(images/tab-active2.gif) no-repeat right 0}
.ui-tabs .ui-tabs-nav li.first.ui-state-default { background:url(images/tab2.gif) no-repeat 0 0}
.ui-tabs .ui-tabs-nav li.ui-state-active { background:url(images/tab-active.gif) no-repeat 0 0}
.ui-tabs .ui-tabs-nav li.first.ui-state-active { background:url(images/tab-active.gif) no-repeat 0 0}
.ui-tabs .ui-tabs-nav li.ui-state-active a { color:#FFF;}

.ui-tabs .ui-tabs-nav li a { text-decoration: none; color:#a10d00; text-decoration:none; font-weight:normal; display:block; padding:11px 0px 9px 0px;}
.ui-tabs .ui-tabs-nav li a:hover { background:url(images/bg-li-tabs.gif) top left no-repeat;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { background:url(images/bg-li-tabs.gif) top left no-repeat;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {display: block; border-width: 0;}
.ui-tabs .ui-tabs-hide { display: none !important; }

#tabs-1, #tabs-2 { width:100%; overflow:hidden; color:#575757; font-size:12px; line-height:17px; position:relative;}
tabs-1 li a:hover { text-decoration:underline;}

.box-tab { width:100%; overflow:hidden; height:310px; position:relative;}
.box-tab ul { margin-bottom:14px; width:100%; overflow:hidden; position:relative;}
.box-tab li { background:url(images/bg-li4.gif) no-repeat 0 bottom; color:#FFF; font-size:13px; line-height:18px; padding:14px 15px 20px 24px;}
.box-tab li.last { background:none; padding-bottom:0}
.box-tab li a { color:#FFF;}
.box-tab a.readmore { display:block; width:85px; height:26px; background:url(images/readmore.gif) no-repeat 0 0; margin-left:173px; overflow:hidden;}
/*==========================================*/